.navbar {
  /*background-color: #060b26;*/
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  /* background-color: #1D3E53; */
  background-color: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(10px);
  width: 250px;
  height: 100%;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  padding: 0;
  /* position: fixed; */
  top: 0;
  left: -100%;
  transition: 850ms;
}

.container-cristal {
  background-color: rgba(32, 87, 126, 0.5);
  /* 22577E */

  /* backdrop-filter: blur(10px); */
  border: solid 1px #5584AC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  /* color: #f5f5f5; */
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-icon {
  color: #fff;
}

.nav-text :hover {
  /* background-color: #1a83ff; */
  background-color: #22577E;
  color: #fff;
}

.nav-text .nav-icon :hover {
  color: #1D3E53;
}

.nav-menu-items {
  width: 100%;
  padding: 2px;
}

.navbar-toggle {
  background-color: #000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 10px;
}

.menu-bootstrap {
  height: 100vh;
}


.nav-text-dieta {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text-dieta a {
  text-decoration: none;
  color: #f5f5f5;
  /* color: #0f0f0f; */
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text-dieta :hover {
  /* background-color: #1a83ff; */
  /* background-color: #9fffac; */
  /* background-color: #01acb9; */
  background-color: #00edff;
  /* color: #1c1c1c; */
  /* color: #22577E; */
  color: #595959;
  box-shadow: #000;
}

/* @media screen and (max-width: 1300px) {
    .nav-menu {  width:100%; }

} */

.barra {
  -webkit-box-shadow: 1px 0 200px 2px #1D3E53;
  box-shadow: 1px 0 200px 2px #1D3E53;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}